.react-datepicker-popper[data-placement^="bottom"] {
    margin-top: 10px;

    .react-datepicker__triangle {
        top: 0;
        margin-top: -8px;

        &::before {
            top: -1px;
            border-bottom-color: #aeaeae;
        }
    }
}

.react-datepicker-wrapper {
    display: inline-block;
    padding: 0;
    border: 0;
}

.react-datepicker {
    font-family: "Rubik";
    background-color: #fff;
    color: $dark;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    box-shadow: 0 1px 4px 0 rgba(112, 114, 125, 0.6);
}

.react-datepicker--time-only {
    .react-datepicker__triangle {
        left: 35px;
    }

    .react-datepicker__time-container {
        border-left: 0;
    }

    .react-datepicker__time {
        border-radius: 0.3rem;
    }

    .react-datepicker__time-box {
        border-radius: 0.3rem;
    }
}

.react-datepicker__triangle {
    position: absolute;
    left: 50px;
}

.react-datepicker-popper {
    z-index: $zindex-modal;
}

.react-datepicker-popper[data-placement^="top"] {
    margin-bottom: 10px;
}

.react-datepicker-popper[data-placement^="right"] {
    margin-left: 8px;

    .react-datepicker__triangle {
        left: auto;
        right: 42px;
    }
}

.react-datepicker-popper[data-placement^="left"] {
    margin-right: 8px;

    .react-datepicker__triangle {
        left: 42px;
        right: auto;
    }
}

.react-datepicker__header {
    text-align: center;
    background-color: #FFFFFF;
    position: relative;
    border-radius: $border-radius;
}

.react-datepicker__header--time {
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
    margin-top: 0;
    color: #000;
    font-weight: bold;
    font-size: 0.944rem;
}

.react-datepicker-time__header {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.react-datepicker__navigation {
    background: none;
    line-height: 1.7rem;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 10px;
    width: 0;
    padding: 0;
    border: 0.45rem solid transparent;
    z-index: 1;
    height: 10px;
    width: 10px;
    text-indent: -999em;
    overflow: hidden;
}

.react-datepicker__navigation--previous {
    left: 10px;
    border-right-color: #ccc;

    &:hover {
        border-right-color: #b3b3b3;
    }
}

.react-datepicker__navigation--previous--disabled,
.react-datepicker__navigation--previous--disabled:hover {
    border-right-color: #e6e6e6;
    cursor: default;
}

.react-datepicker__navigation--next {
    right: 10px;
    border-left-color: #ccc;

    &:hover {
        border-left-color: #b3b3b3;
    }
}

.react-datepicker__navigation--next--with-time {
    &:not(.react-datepicker__navigation--next--with-today-button) {
        right: 80px;
    }
}

.react-datepicker__navigation--next--disabled,
.react-datepicker__navigation--next--disabled:hover {
    border-left-color: #e6e6e6;
    cursor: default;
}

.react-datepicker__navigation--years {
    position: relative;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.react-datepicker__navigation--years-previous {
    top: 4px;
    border-top-color: #ccc;

    &:hover {
        border-top-color: #b3b3b3;
    }
}

.react-datepicker__navigation--years-upcoming {
    top: -4px;
    border-bottom-color: #ccc;

    &:hover {
        border-bottom-color: #b3b3b3;
    }
}

.react-datepicker__month-container {
    float: left;
}

.react-datepicker__month {
    margin: 4px;
    text-align: center;
    cursor: pointer;
}

.react-datepicker__month .react-datepicker__month-text,
.react-datepicker__month .react-datepicker__quarter-text {
    display: inline-block;
    width: 4rem;
    margin: 2px;
}

.react-datepicker__input-time-container {
    clear: both;
    width: 100%;
    float: left;
    margin: 5px 0 10px 15px;
    text-align: left;

    .react-datepicker-time__caption {
        display: inline-block;
    }

    .react-datepicker-time__input-container {
        display: inline-block;

        .react-datepicker-time__input {
            display: inline-block;
            margin-left: 10px;

            input {
                width: 85px;
            }

            input[type="time"] {
                -moz-appearance: textfield;
            }
        }

        .react-datepicker-time__delimiter {
            margin-left: 5px;
            display: inline-block;
        }
    }
}

.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input[type="time"]::-webkit-inner-spin-button,
.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input[type="time"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.react-datepicker__time-container {
    float: right;
    border-left: 1px solid #aeaeae;
    width: 85px;

    .react-datepicker__time {
        position: relative;
        background: white;

        .react-datepicker__time-box {
            width: 85px;
            overflow-x: hidden;
            margin: 0 auto;
            text-align: center;

            ul {
                &.react-datepicker__time-list {
                    list-style: none;
                    margin: 0;
                    height: calc(195px + (1.7rem / 2));
                    overflow-y: scroll;
                    padding-right: 0px;
                    padding-left: 0px;
                    width: 100%;
                    box-sizing: content-box;

                    li {
                        &.react-datepicker__time-list-item {
                            height: 30px;
                            padding: 5px 10px;
                            white-space: nowrap;

                            &:hover {
                                cursor: pointer;
                                background-color: #f0f0f0;
                            }
                        }

                        &.react-datepicker__time-list-item--selected {
                            background-color: #216ba5;
                            color: white;
                            font-weight: bold;

                            &:hover {
                                background-color: #216ba5;
                            }
                        }

                        &.react-datepicker__time-list-item--disabled {
                            color: #ccc;

                            &:hover {
                                cursor: default;
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
        }
    }
}

.react-datepicker__time-container--with-today-button {
    display: inline;
    border: 1px solid #aeaeae;
    border-radius: 0.3rem;
    position: absolute;
    right: -72px;
    top: 0;
}

.react-datepicker__day-names,
.react-datepicker__week {
    white-space: nowrap;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
    color: $dark;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    font-size: 12px;
    line-height: 16px;
}

.react-datepicker__day-name {
    color: #9C9DA6;
}

.react-datepicker__month--selected:hover {
    background-color: #1d5d90;
}

.react-datepicker__month--disabled,
.react-datepicker__quarter--disabled {
    color: #ccc;
    pointer-events: none;
}

.react-datepicker__month--disabled:hover,
.react-datepicker__quarter--disabled:hover {
    cursor: default;
    background-color: transparent;
}

.react-datepicker__day,
.react-datepicker__month-text,
.react-datepicker__quarter-text {
    cursor: pointer;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover {
    border-radius: 50%;
    background-color: #EFF3F6;
    color: $dark;
    cursor: pointer;
}

.react-datepicker__day--today{
    color: $primary;

    &:hover {
        color: $dark;
    }
}

.react-datepicker__day--outside-month {
    visibility: hidden;
    cursor: default;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range {
    border-radius: 50%;
    background-color: $primary;
    color: $white;

    &:hover {
        background-color: $primary;
        color: $white;
    }
}

.react-datepicker__day--in-range {
    color: $white;
    background-color: #FFCA6A;


    &:hover {
        height: 38px;
        color: $dark;
    }
}

.react-datepicker__day--range-start,
.react-datepicker__day--range-end {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    color: $white; 
    background-color: #FF7D1D;
}

.react-datepicker__day--disabled,
.react-datepicker__month-text--disabled,
.react-datepicker__quarter-text--disabled {
    cursor: default;
    color: #ccc;
}

.react-datepicker__day--disabled:hover,
.react-datepicker__month-text--disabled:hover,
.react-datepicker__quarter-text--disabled:hover {
    background-color: transparent;
}

.react-datepicker__input-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.react-datepicker__close-icon {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: 0;
    padding: 0px 6px 0px 0px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: table-cell;
    vertical-align: middle;

    &::after {
        cursor: pointer;
        background-color: #216ba5;
        color: #fff;
        border-radius: 50%;
        height: 16px;
        width: 16px;
        padding: 2px;
        font-size: 12px;
        line-height: 1;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        content: "\00d7";
    }
}

.react-datepicker__today-button {
    background: #f0f0f0;
    border-top: 1px solid #aeaeae;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
    clear: left;
}

.react-datepicker__portal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 2147483647;

    .react-datepicker__navigation {
        border: 0.81rem solid transparent;
    }

    .react-datepicker__navigation--previous {
        border-right-color: #ccc;

        &:hover {
            border-right-color: #b3b3b3;
        }
    }

    .react-datepicker__navigation--next {
        border-left-color: #ccc;

        &:hover {
            border-left-color: #b3b3b3;
        }
    }
}

.react-datepicker__portal .react-datepicker__day-name,
.react-datepicker__portal .react-datepicker__day,
.react-datepicker__portal .react-datepicker__time-name {
    width: 3rem;
    line-height: 3rem;
}

@media (max-width: 400px),
(max-height: 550px) {

    .react-datepicker__portal .react-datepicker__day-name,
    .react-datepicker__portal .react-datepicker__day,
    .react-datepicker__portal .react-datepicker__time-name {
        width: 2rem;
        line-height: 2rem;
    }
}

.react-datepicker__portal .react-datepicker__current-month,
.react-datepicker__portal .react-datepicker-time__header {
    font-size: 1.44rem;
}

.react-datepicker__portal .react-datepicker__navigation--previous--disabled,
.react-datepicker__portal .react-datepicker__navigation--previous--disabled:hover {
    border-right-color: #e6e6e6;
    cursor: default;
}

.react-datepicker__portal .react-datepicker__navigation--next--disabled,
.react-datepicker__portal .react-datepicker__navigation--next--disabled:hover {
    border-left-color: #e6e6e6;
    cursor: default;
}