.dv-horizontal {
    width: 100%;
    border-bottom: 2px solid $black-30;
    text-align: center;
}

.dv-text {
    padding-right: 4px;
    padding-left: 4px;
    color: $black-30;
}

.dv-base {
    height: ($font-size-base / 2) + 2;
    margin-bottom: ($font-size-base / 2);
}

.dv-d1 {
    height: ($font-size-d1 / 2) + 2;
    margin-bottom: ($font-size-d1 / 2);
}

.dv-d2 {
    height: ($font-size-d2 / 2) + 2;
    margin-bottom: ($font-size-d2 / 2);
}

.dv-d3 {
    height: ($font-size-d3 / 2) + 2;
    margin-bottom: ($font-size-d3 / 2);
}

.dv-d4 {
    height: ($font-size-d4 / 2) + 2;
    margin-bottom: ($font-size-d4 / 2);
}

.dv-b2 {
    height: ($font-size-b2 / 2) + 2;
    margin-bottom: ($font-size-b2 / 2);
}

.dv-b3 {
    height: ($font-size-b3 / 2) + 2;
    margin-bottom: ($font-size-b3 / 2);
}

.dv-b4 {
    height: ($font-size-b4 / 2) + 2;
    margin-bottom: ($font-size-b4 / 2);
}

.dv-p2 {
    height: ($font-size-p2 / 2) + 2;
    margin-bottom: ($font-size-p2 / 2);
}