.input {
  font-size: 14px;
  font-weight: 400;
  padding: 12px 16px;
  color: #151823;
  border-radius: 4px;
  border: 1px solid #DCDEE3;
  &::placeholder {
    color: $black-40;
  }
  &:focus {
    outline: 0;
    border-color: #FF7D1D
  }
  &:disabled {
    background-color: $black-20;
  }
}

// autofill
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #FF7D1D;
  background-color: rgba(255,227,131,0.5);
  -webkit-text-fill-color: #151823;
  -webkit-box-shadow: 0 0 0px 1000px rgba(255,227,131,0.5) inset;
  box-shadow:  0 0 0px 1000px rgba(255,227,131,0.5) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.input-group {
  border-collapse: separate;
  display: flex;
  position: relative; 
  flex-flow: column wrap;

  .input-control {
    display: block;
    position: relative;
    max-height: 40px;
    background-color: $white;
    border: 1px solid #DCDEE3;
    border-radius: $border-radius;
    padding: 12px 16px;
    width: 100%;

    &:focus, &--focused {
      outline: 0;
      border-color: $orange-30;
    }
    &:disabled {
      background-color: $black-20;
    }
  }

  &--focused > .input-control {
    outline: 0 !important;
    border-color: $orange-30 !important;
  }

  &--focused > .optionbox {
    display: block;
  }

  &.icon-left .input-control {
    padding-left: $padding-9;
  }
  &.icon-right .input-control {
    padding-right: $padding-9;
  }
  &.logo-right .input-control {
    padding-right: 70px;
  }
}

.input-group-prepend, .input-group-append {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
} 

.input-group-prepend {
  left: 0px;
  margin-left: $margin-2;
}

.input-group-append {
  right: 0px;
  margin-right: $margin-2;
}

.form-group--error .input-control,
.form-group--error .input-control:disabled {
  background-color: $red-10;
  border-color: $red-30 !important;
}

.form-group--success .input-control,
.form-group--success .input-control:disabled {
  background-color: $green-10;
  border-color: $green-30 !important;
}

.form-group--error .form-group__helptext {
  color: $danger;
}

.form-group--success .form-group__helptext {
  color: $success;
}

.form-group{
  &.form-group--line{
    .input-group {
      .input-control {
        padding: 12px 0 11px;
        border: inherit;
        border-bottom: 1px solid #DCDEE3;
        border-radius: 0;
        &:focus, &--focused {
          outline: 0;
          border-color: $orange-30;
        }
        &:disabled {
          background-color: transparent;
          &::placeholder{
            color: $black-30;
          }
        }
      }
      &.icon-left .input-control {
        padding-left: $padding-9 !important;
      }
      &.icon-right .input-control {
        padding-right: $padding-9 !important;
      }
      &.logo-right .input-control {
        padding-right: 70px;
      }
    }
    .form-group__label {
      position: absolute;
      top: 0;
      left: 4px;
      z-index: 1;
      margin-bottom: $margin-0;
      line-height: 12px;
      font-size: $font-size-h3;
      font-weight: $font-weight-medium;
      color: $black-50;
      &+.input-group {
        .input-control{
          padding: 19px 0 4px;
        }
        .i--large{
          margin-top: 12px;
        }
      } 
    }
    .form-group__helptext {
      font-size: $font-size-b4;
      line-height: 10px;
      margin-top: $margin-1;
      &--success {
          color: $green-30;
      }
      &--error {
          color: $red-30;
      }
    }
    &.form-group--inline{
      margin-top: $margin-3;
    }
    &.form-group--success{
      .input-group{
        .input-control {
          &:disabled {
            background-color: $green-10;
          }
        }
      }
    }
  }
  &.form-group--line-label{
    .input-group{
      .input-control {
        padding: 12px 0 11px;
        border: inherit;
        border-bottom: 1px solid #DCDEE3;
        border-radius: 0;
        &:focus{
          outline: 0;
          border-color: $orange-30;
        }
        &:disabled {
          background-color: transparent; 
          &::placeholder{
            color: $black-30;
          }
        }
      }
      &.icon-left .input-control {
        padding-left: $padding-9 !important;
      }
      &.icon-right .input-control {
        padding-right: $padding-9 !important;
      }
      &.logo-right .input-control {
        padding-right: 70px;
      }
    }
    .form-group__label {
      position: absolute;
      top: 0;
      left: 4px;
      z-index: 1;
      margin-bottom: $margin-0;
      line-height: 12px;
      font-size: $font-size-b1;
      font-weight: $font-weight-regular;
      color: $black-40;
      -webkit-transition: color .2s ease-out, -webkit-transform .2s ease-out;
      transition: color .2s ease-out, -webkit-transform .2s ease-out;
      transition: transform .2s ease-out, color .2s ease-out;
      transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
      -webkit-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      text-align: initial;
      -webkit-transform: translateY(12px);
      transform: translateY(16px);
      pointer-events: none; 
      &+.input-group {
        .input-control{
          padding: 19px 0 4px;
        }
        .i--large{
          margin-top: 12px;
        }
      } 
    }
    .form-group__helptext {
      font-size: $font-size-b4;
      line-height: 10px;
      margin-top: $margin-1;
      &--success {
          color: $green-30;
      }
      &--error {
          color: $red-30;
      }
    }
    &.form-group--inline{
      margin-top: $margin-3;
    }
    &.form-group--success{
      .input-group{
        .input-control {
          &:disabled {
            background-color: $green-10;
          }
        }
      }
    }
  }
  &.form-group--small{
    .input-group{
      .input-control {
      padding: 6px 16px;
      }
      &.icon-left .input-control {
        padding-left: $padding-9 !important;
      }
      &.icon-right .input-control {
        padding-right: $padding-9 !important;
      }
      &.logo-right .input-control {
        padding-right: 70px;
      }
      .input-group-prepend{
        top: 18px;
      }
      .input-group-append{
        top: 18px;
      }
    }
    .form-group__label {
      margin-bottom: $margin-1;
      line-height: 12px;
    }
    .form-group__helptext {
      margin-top: $margin-1;
    }
    &.form-group--inline{
      margin-top: $margin-4;
    }
  }
  &.active{
    .form-group__label {
      color: $black-50;
      font-size: $font-size-h4;
      font-weight: $font-weight-regular;
      text-transform: uppercase;
      text-align: initial;
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
  }
}
