.radiobutton {
    position: relative;
    display: block;
    padding-left: 24px;
    margin-right: 24px;
    font-size: 14px;
    cursor: pointer;
    input {
      position: absolute;
      height: 0;
      width: 0;
      opacity: 0;
      cursor: pointer;
    }
    &__dot {
      position: absolute;
      top: 0;
      left: 0;
      height: 16px;
      width: 16px;
      border: 1px solid $black-40;
      border-radius: 8px;
      background-color: $white;
      &:after {
        position: absolute;
        left: 4px;
        top: 4px;
        display: none;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        content: "";
        background-color: $white;
      }
    }
    &:hover input ~ .radiobutton__dot {
      height: 16px;
      width: 16px;
      border-radius: 8px;
      border: 1px solid $orange-30;
    }
    input:checked ~ .radiobutton__dot {
      border: 1px solid transparent;
      background-color: $orange-30;
      &:after {
        display: block;
      }
    }
    input:disabled ~ .radiobutton__dot {
      border: 1px solid $black-30;
      background-color: $black-20;
      &:after {
        display: none;
      }
    }
    input:disabled:checked ~ .radiobutton__dot {
      border: 1px solid $black-30;
      background-color: $black-20;
      &:after {
        display: block;
        background-color: $black-30;
      }
    }
  }
