// stylelint-disable declaration-no-important

//
// Border
//

.u-bd         { border: $border-width solid $border-color !important; }
.u-bd-top     { border-top: $border-width solid $border-color !important; }
.u-bd-right   { border-right: $border-width solid $border-color !important; }
.u-bd-bottom  { border-bottom: $border-width solid $border-color !important; }
.u-bd-left    { border-left: $border-width solid $border-color !important; }

.u-bd-0        { border: 0 !important; }
.u-bd-top-0    { border-top: 0 !important; }
.u-bd-right-0  { border-right: 0 !important; }
.u-bd-bottom-0 { border-bottom: 0 !important; }
.u-bd-left-0   { border-left: 0 !important; }

.u-bd-x        { border-left: $border-width solid $border-color !important; border-right: $border-width solid $border-color !important }
.u-bd-y        { border-top: $border-width solid $border-color !important; border-bottom: $border-width solid $border-color !important}

@each $color, $value in $colors {
  .u-bd-#{$color} {
    border-color: $value !important;
  }
}

//
// Border-radius
//

.u-rnd {
  border-radius: $border-radius !important;
}

.u-rnd-top {
  border-top-left-radius: $border-radius !important;
  border-top-right-radius: $border-radius !important;
}

.u-rnd-right {
  border-top-right-radius: $border-radius !important;
  border-bottom-right-radius: $border-radius !important;
}

.u-rnd-bottom {
  border-bottom-right-radius: $border-radius !important;
  border-bottom-left-radius: $border-radius !important;
}

.u-rnd-left {
  border-top-left-radius: $border-radius !important;
  border-bottom-left-radius: $border-radius !important;
}

.u-rnd-circle {
  border-radius: 50% !important;
}

.u-rnd-0 {
  border-radius: 0 !important;
}
