.header-themes{
  display: flex;
  align-items: center;
  margin: 32px;
}

.header-themes img{
  width: 50px;
  height: 50px;
}

.grid {
  display: grid;
  grid-template-columns: 300px auto;
}

aside{
  margin: 0;
  padding-left: 0;
  padding-bottom: 30px;
  height: 100vh;
  background: #fff;
  z-index: 1;
  transition: all .2s;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow-y: auto;
}

aside h1, aside ul{
  padding-left: 32px;
}

aside ul li {
  position: relative;
  padding: 8px 12px;
  color: #70727d;
}

aside ul li a{
  color: #707270;
  text-decoration: inherit;
}

aside ul li a:hover{
  color: #151823;
}

aside ul li a.active:before{
  position: absolute;
  top: 4px;
  left: 4px;
  content: "";
  width: 0px;
  height: 22px;
  border-left: 3px solid #5c940f;
}

aside ul li:hover, section ul li:hover {
  color: #151823;
}

aside .active {
  color: #151823;
  font-weight:bold;
}

section {
  padding: 16px;
}

code {
  display: inline-block;
  margin: 20px 0;
  padding: 20px;
  background-color: #151823;
  color: #f8fbfc;
}

code br {
  /* line-height: 2; */
}
.u-fx-row > div {
  flex-grow: 1;
}
.title {
  border-bottom: 1px solid;
  margin-bottom: 12px;
  color : #434755;
  font-size: 32px;
  font-weight: 500;
  line-height: 2;
}
.subtitle {
  margin-bottom: 12px;
  color : #434755;
  font-size: 12px;
  font-weight: 500;
}

.footer-themes{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding: 40px;
  color: white;
  background-color: #434755;
}

br {
   display: block;
   line-height: 1;
}

.icon-wrap li {
  width: calc(100% / 8);
  margin-bottom: 40px;
  text-align: center;
}

.icon-special-wrap li {
  width: calc(100% / 4);
  margin-bottom: 40px;
  text-align: center;
}

.list-page li{
  list-style-type: disc;
  margin: 0 0 12px 32px;
  line-height: 1.5;
}

.th-bg-light{
  background-color: #eff3f6;
}
